<div class="form">
  <div class="form-group">
    <label for="keyword">Key word</label>
    <input name="keyword" id="keyword" [(ngModel)]="keyword"/>
  </div>
  <div class="form-group">
    <button (click)="submit()">Отправить</button>
  </div>
  <div class="form-group">
    <div class="form-item" *ngIf="done">Complete</div>
    <div class="form-item" *ngIf="message">{{message}}</div>
  </div>
</div>
<div *ngIf="books">
  <ul>
    <li *ngFor="let book of books">
      <p>Name: {{book.name}}</p>
      <p>Genre: {{book.genre}}</p>
      <img [src]="book.image" (click)="toggleShow(book)">
      <div *ngIf="book.show">
        <p>Author: {{book.author}}</p>
        <p>Description: {{book.description}}</p>
        <p class="like" (click)="like(book)">Likes: {{book.likes}}</p>
        <a [href]="book.link">Go to source</a>
      </div>
    </li>
  </ul>
</div>
